*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.my-message{
    color: green;
    text-align: end;
}
.other-message{
    color: white;
}

main{
   background-color: #009688;
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

div.my_container{
    display: flex;
    width: 80%;
    height: 90%;
}

div.my-chat_container{
    
    
}

div.my-chat,
div.chat-contact{
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


div img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

div.personal-settings,
div.massaage-settings{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13%;
    justify-content: space-evenly;
}

div.chat-list{
    background-color: white;
    height: calc(100% - 50px);
    padding: .5rem;
}

div ul{
    list-style-type: none;
    padding: 0;
    height: 90%;
    overflow-y: scroll;
}


div.my_container div.open-chat{
    /* da rimuovere */
}
div.main-chat{
    height: calc(100% - 100px);
    width: 100%;
    background: url(../img/mine.jpg);
    overflow-y: scroll;
}
div.messages{
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
}

div.text-chat{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: .7rem 0;
    background-color: #eaeaea;
}
div.text-chat input{
    width: 80%;
}