*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
   background-color: #009688;
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

div.my_container{
    display: flex;
    width: 80%;
    height: 90%;
}

div.my-chat_container{
    
    
}

div.my-chat{
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
}


div img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

div.personal-settings{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13%;
    justify-content: space-evenly;
}

div.chat-list{
    background-color: white;
    height: calc(100% - 50px);
    padding: .5rem;
}

div ul{
    list-style-type: none;
    padding: 0;
    height: 90%;
    overflow-y: scroll;
}

div.my_container div.open-chat{
    /* da rimuovere */
    background-color: yellow;
}